:root{
 --primary: #000333;
 --secondary: #030414a;
 --accent: #fff;
}

*{
 margin: 0;
 padding: 0;
 font-family: 'Dongle', sans-serif;
 box-sizing: border-box;
}

/*--------------------NAV-BAR---------------------------*/

.nav{
 width: 100%;
 height: 20vh;
 padding: 0 30px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-image: url("../images/image6.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 box-shadow: 0 8px 8px rgba(20, 20, 20, 0.5);
}

.nav__box{
 width: 350px;
 position: relative;
 display: flex;
}

.nav__box .nav__search{
 color: var(--accent);
 font-size: 24px;
 padding: 10px;
 width: 300px;
 height: 40px;
 border: none;
 border-radius: 10px 0 0 10px;
 background-color: rgba(20, 20, 20, 0.5);
}

.nav__box i{
 width: 30px;
 height: 40px;
 padding: 12px 7px;
 border-radius: 0 10px 10px 0;
 background-color: rgba(200, 200, 200, 0.5);
 color: var(--accent);
}

.nav__list{
 color: var(--accent);
 list-style: none;
 font-size: 30px;
 display: flex;
 gap: 20px;
 align-items: center;
 cursor: pointer;
}

.nav__item{
 position: relative;
 z-index: 2;
 border: solid 1px var(--primary);
 padding: 0 20px;
 border-radius: 4px;
 transition: all 0.5s ease-in-out;
}

.nav__icon{
 position: relative;
 z-index: 2;
 width: 25px;
 height: 25px;
 padding-top: 5px;
 text-align: center;
 border: solid 1px var(--primary);
 transition: all 0.5s ease-in-out;
}

.nav__icon i{
 position: relative;
 z-index: 2;
 color: var(--accent);
 transition: all 0.5s ease-in-out;
}

.sidebar{
 position: absolute;
 right: 0;
 top: 0;
 z-index:1;
 width: 0vw;
 height: 100vh;
 background-color: var(--primary);
 transition: all 0.5s ease-in-out;
}
/*------------------------------------------------------*/


/*--------------------MAIN-BODY-------------------------*/

/*------------------------------------------------------*/


/*--------------------FOOTER----------------------------*/

/*------------------------------------------------------*/


/*------------------------HOVER-------------------------*/

.nav__logo:hover{
 transform: scale(0.9);
}
.nav__box .nav__search:focus{
 outline: none;
} 

.nav__box i:hover{
 transform: scale(1.1);
}

.nav__item:hover{
 color: var(--primary);
 background-color: rgba(200, 200, 200, 0.5);
}

.nav__icon:hover{
 color: var(--primary);
 background-color: rgba(200, 200, 200, 0.5);
}

.nav__icon:hover i{
  color: var(--primary);
}
.nav__icon-active{
 transform: translateX(-200px);
}

.sidebar-active{
 width: 20vw;
}

.nav__list-active{
 flex-direction: column;
 transform:translateX(-100px);
}

/*------------------------------------------------------*/

